<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar" [class.closed]="!sidebarOpen">
    <div class="sidebar-header">
      <h2>E</h2>
    </div>

    <nav class="sidebar-nav">
      <div class="aside"></div>
      <ul>
        <li *ngFor="let item of menuItems">
          <a href="{{item.route}}" (click)="item.children ? toggleSubMenu(item) : null">
            <i [class]="item.icon"></i> {{ item.label }}
            <span *ngIf="item.children" class="arrow" [class.open]="item.isOpen">▼</span>
          </a>
          
          <!-- Child Menu -->
          <ul *ngIf="item.children && item.isOpen" class="child-menu">
            <li *ngFor="let child of item.children">
              <a href="{{child.route}}"
                [class.active]="isChildActive(child.route)">
                <i [class]="child.icon"></i> {{ child.label }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>


  <!-- Main Content -->
  <div class="main">
    <!-- Top Navbar -->
    <header class="topbar">
      <button class="menu-btn" (click)="toggleSidebar()">
        <i class="fa fa-bars"></i>
      </button>

      <div class="search">
        <input
          type="text"
          placeholder="Search modules, pages..."
          [(ngModel)]="searchText"
          (input)="onSearchChange()"
          (keydown.arrowDown)="moveActive(1)"
          (keydown.arrowUp)="moveActive(-1)"
          (keydown.enter)="selectActive()"
        />

        <!-- Search Suggestions -->
        <ul *ngIf="showSearchResults" class="search-results">
          <li
            *ngFor="let r of filteredResults; let i = index"
            [class.active]="i === activeIndex"
            (click)="navigateTo(r.route)"
          >
            <i [class]="r.icon"></i> {{ r.label }}
            <span class="path">{{ r.parent }}</span>
          </li>
        </ul>
      </div>


      <div class="topbar-right">
        <!-- USER MENU DROPDOWN -->
        <div class="user-menu" (click)="toggleUserMenu()" (click)="$event.stopPropagation()" tabindex="0">
          <img src="https://cdn-icons-png.flaticon.com/512/630/630453.png" class="user-icon" />

          <!-- DROPDOWN -->
          <div class="dropdown" *ngIf="showUserDropdown" (click)="$event.stopPropagation()">

            <div class="user-info">
              <h4>{{ user?.name }}</h4>
              <p>{{ user?.company }}</p>
            </div>

            <hr />

            <button class="dropdown-btn" (click)="navigateToSettings()">
              <i class="fa fa-cog"></i> Settings
            </button>

            <button class="dropdown-btn logout" (click)="logout()">
              <i class="fa fa-sign-out"></i> Logout
            </button>

          </div>

        </div>
      </div>

    </header>

    <main class="content">
      <ng-content></ng-content>
    </main>
  </div>
</div>
