<app-header>

<div class="box">
  <div class="header-row">
    <h2>Current Stock</h2>
    <button class="btn-primary" (click)="navigateToCreate()">+ Add New Purchase</button>
  </div>

  <div *ngIf="loading" class="loading">Loading products...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <div class="table-controls">
    <div class="left">
      <label>Show:</label>
      <select [(ngModel)]="pageSize" (change)="onPageSizeChange()">
        <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
      </select>
      <span>entries</span>
    </div>

    <div class="right">
      <div class="input_group">
        <input
          type="text"
          placeholder="Search by name or product code..."
          [(ngModel)]="searchTerm"
          (input)="filterProducts()"
        />
        <app-barcode-scanner (scanSuccess)="onBarcodeScanned($event)"></app-barcode-scanner>
      </div>
    </div>
  </div>


  <table *ngIf="!loading && errorMessage =='' && paginatedProducts.length" class="product-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Product Code</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of paginatedProducts">
        <td>
          <img
            *ngIf="product.img"
            [src]="'https://192.168.46.16:4000' + product.img"
            alt="{{ product.name }}"
            class="thumb"
          />
          <span *ngIf="!product.img">—</span>
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.p_code }}</td>
        <td>{{ product.price | currency:'INR' }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <ng-container *ngIf="product.quantity === 0; else checkLowStock">
            <span class="ofs">Out Of Stock</span>
          </ng-container>

          <ng-template #checkLowStock>
            <ng-container *ngIf="product.quantity <= alertQuantity; else inStock">
              <span class="oaq">Low Stock</span>
            </ng-container>
          </ng-template>

          <ng-template #inStock>
            <span class="is">In Stock</span>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button
      class="btn"
      [disabled]="page === 1"
      (click)="page = page - 1; updatePaginatedProducts()"
    >
      Prev
    </button>

    <span>Page {{ page }} of {{ totalPages() }}</span>

    <button
      class="btn"
      [disabled]="page === totalPages()"
      (click)="page = page + 1; updatePaginatedProducts()"
    >
      Next
    </button>
  </div>


  <div *ngIf="!loading && !errorMessage && !products.length" class="empty">
    No products found.
  </div>
</div>


<div class="confirm-popup" *ngIf="showConfirmPopup">
  <div class="confirm-box">
    <p>Are you sure you want to delete {{showConfirmProductName}} ?</p>
    <div class="buttons">
      <button class="btn-confirm" (click)="deleteProduct(selectedProductId!)">Yes</button>
      <button class="btn-cancel" (click)="showConfirmPopup = false">No</button>
    </div>
  </div>
</div>


</app-header>